* {
    margin: 0;
    padding: 0;
    font-family: 'Playfair Display', serif;
    color: #626262;
}
.header {
    padding-top: 50px;
    padding-bottom: 50px;
}
.header-list {
    width: 100%;
    display: flex;
    list-style-type: none;
}
.header-link {
    text-decoration: none;
    margin: 0 0 0 120px;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
}
.image {
    padding-top: 75px;
}
.container {
    width: 1062px;
    margin: 0 auto;
}
.container-2 {
    width: 900px;
    margin: 0 auto;
}
.wrapper {
    display: flex;
    justify-content: space-between;
}
.first-title {
    padding: 50px 0 50px 0;
    text-transform: uppercase;
}
.card-text {
    padding-bottom: 50px;
}
.card-title {
    padding-bottom: 40px;
    font-size: 30px;
}
.card {
    width: 400px;
}
.card-subtitle {
    padding: 30px 0px;
    text-transform: uppercase;
}
.subscription {
    background: #f0f0f0;
    color: #333333;
    text-align: center;
    padding: 50px 0 50px 0;
    margin: 0 0 75px 0;
}
.form {
    width: 50%;
    border-bottom: 1px solid #000;
    margin: 0 auto;
    background: #f0f0f0;
    display: flex;
    justify-content: space-between;
}
.input {
    border: none;
    background: #f0f0f0;
    width: 100%;
    padding: 0 0 5px 0;
}
.input:focus {
    outline: none;
}
.button {
    border: none;
    display: block;
    cursor: pointer;
    padding: 0 0 5px 0;
}
.button:focus {
    outline: none;
}
.load-button {
    transition: 0.5s;
    border: 2px solid #626262;
    display: block;
    margin: 0 auto;
    width: 20%;
    padding: 2.5% 5%;
    text-align: center;
    text-decoration: none;
}
.load-button:hover {
    background: #000;
    color: white;
    transition: 0.5s;
}
.last-screen {
    padding-bottom: 100px;
}
.footer {
    background: #f0f0f0;
    padding: 40px 0px;
}
.footer-left-column, .footer-right-column {
    display: flex;
}
.footer-link {
    color: #000000;
    margin-left: 15px;
    text-transform: none;
}
@media (max-width: 576px) {
    .container {
        width: 40% !important;
    }
    .container-2 {
        width: 40% !important;
    }
    .image {
        width: 100%;
    }
    .header-link {
        margin: 0 0 0 10px !important;
    }
    .wrapper {
        display: block;
        margin: 0 auto;
    }
    .navbar {
        display: flex;
        justify-content: space-between;
    }
    .footer-columns {
        width: 100%;
    }
}
@media (max-width: 768px) {
    .container {
        width: 60% !important;
    }
    .container-2 {
        width: 60% !important;
    }
    .image {
        width: 100%;
    }
    .header-link {
        margin: 0 0 0 15px !important;
    }
    .wrapper {
        display: block;
        margin: 0 auto;
    }
    .navbar {
        display: flex;
        justify-content: space-between;
    }
}
@media (max-width: 992px) {
    .container {
        width: 80% !important;
    }
    .container-2 {
        width: 80% !important;
    }
    .image {
        width: 100%;
    }
    .header-link {
        margin: 0 0 0 30px;
    }
}
@media (max-width: 1200px) {
    .container {
        width: 900px;
    }
    .image {
        width: 100%;
    }
    .header-link {
        margin: 0 0 0 60px;
    }
}