* {
    margin: 0;
    padding: 0;
    font-family: 'Playfair Display', serif;
    color: #626262;
}
.wrapper {
    display: flex;
    justify-content: space-between;
}
.girls {
    padding-top: 75px;
}
.container {
    width: 1062px;
    margin: 0 auto;
}
.header {
    padding-top: 70px;
    padding-bottom: 98px;
}
.header-list {
    display: flex;
    list-style-type: none;
}
.header-link {
    text-decoration: none;
    margin-left: 122px;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
}
.container-2 {
    width: 900px;
    margin: 0 auto;
}
.title {
    text-transform: uppercase;
    padding-bottom: 30px;
}
.text {
    padding-bottom: 50px;
}
.h1 {
    padding-bottom: 40px;
    font-size: 30px;
}
.h2 {
    padding-bottom: 40px;
    font-size: 30px;
}
.card {
    width: 420px;
}
.card-title {
    padding: 30px 0px;
    text-transform: uppercase;
}
.offer {
    background: #f0f0f0;
    color: #333333;
    text-align: center;
    font-size: 30px;
    padding-top: 70px;
    padding-bottom: 74px;
    margin-bottom: 103px;
}
.form {
    width: 400px;
    border-bottom: 1px solid #000;
    margin: 0 auto;
    background: #f0f0f0;
    display: flex;
    justify-content: space-between;
}
.input {
    border: none;
    background: #f0f0f0;
    padding-left: 4px;
    padding-right: 196px;
}
.send {
    border: none;
    display: block;
    cursor: pointer;
}
.loadmore {
    border: 2px solid #626262;
    display: block;
    margin: 0 auto;
    width: 164px;
    padding: 20px 30px;
    text-align: center;
    text-decoration: none;
}
.loadmore:hover {
    background: #000;
    color: white;
    transition: 0.5s;
}
.end {
    padding-bottom: 100px;
}
.footer {
    background: #f0f0f0;
    padding: 40px 0px;
}
.footer-link {
    font-size: 14px;
    color: #000000;
    margin-left: 17px;
    text-transform: none;
    display: flex;
}
.icons {
    height: 100%;
}
.first , .second {
    display: flex;
}
.credits {
    padding-left: 16px;
}
/*Responsive*/
/* 992px - 1200px */
@media screen and (max-width: 1200px) {
    .container {
        width: 960px;
    }
}
/* 768px - 992px */
@media screen and (max-width: 992px) {
    .container {
        width: 720px;
    }
}
/* 576px - 768px */
@media screen and (max-width: 768px) {
    .container {
        width: 540px;
    }
    .offer {
        width: 100%;
    }
}
/* 0 - 576px */
@media screen and (max-width: 576px) {
    .container {
        width: 90%;
    }
}